@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}
h1 {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    border: 0;
}
.month-name {
    color: orangered
}